[2020-01-04 07:32] jesdicaDomo opened #1 "[Server thread/CRITICAL]:"
[Server thread/CRITICAL]: ErrorException: "Undefined index: seller-item" (EXCEPTION) in "plugins/AuctionHouse_dev-2.phar/src/AuctionHouse/AuctionHouse" at line 146

[2020-01-04 19:44] #1 closed

[2020-01-19 14:41] mikeygio10 opened #2 "Error"
[14:36:08] [Server thread/CRITICAL]: TypeError: "Argument 1 passed to pocketmine\lang\BaseLang::translateString() must be of the type string, null given, called in phar:///home/container/PocketMine-MP.phar/src/pocketmine/Player.php on line 3407" (EXCEPTION) in "src/pocketmine/lang/BaseLang" at line 124
[14:36:08] [Server thread/DEBUG]: #0 src/pocketmine/Player(3407): pocketmine\lang\BaseLang->tran

[2020-01-22 00:18] #2 closed

[2020-01-22 01:39] TheUtopianPlayz opened #3 "error when confirming purchase of items | poggit dev build 6"
**[Server thread/CRITICAL]: TypeError: "Argument 1 passed to pocketmine\lang\BaseLang::translateString() must be of the type string, null given, called in phar:///home/p2e/test/PocketMine-MP.phar/src/pocketmine/Player.php on line 3404" (EXCEPTION) in "src/pocketmine/lang/BaseLang" at line 124
[20:36:49] [Server thread/DEBUG]: #0 src/pocketmine/Player(3404): pocketmine\lang\BaseLang->translateStrin

[2020-01-22 02:17] TheUtopianPlayz commented on #3
im using dev build 6 btw

[2020-01-22 03:56] Shock95x commented on #3
@TheUtopianPlayz This will be fixed in the latest release soon, and thank you.

[2020-01-22 04:09] #3 closed

[2020-01-22 05:37] TheUtopianPlayz opened #4 "feature suggestion & bug Report"
use UUID for storage instead of the player name

would help a lot in case sensitive issues and issues where people use plugins like jackMD's namespaceremover plugin that swaps spaces in names with underscores

[2020-01-22 05:48] TheUtopianPlayz commented on #4
heres the error that goes along with my feature suggestion

 **[Server thread/CRITICAL]: ErrorException: "include(phar:///home/p2e/factions/plugins/AuctionHouse_dev-7 (1).phar/src/shock95x/auctionhouse/auction/Listing.php): failed to open stream: phar error: Cannot open phar archive "/home/p2e/factions/plugins/AuctionHouse_dev-7 (1).phar" for reading" (EXCEPTION) in "vendor/pocketmine/spl/BaseClas

[2020-01-22 15:33] Shock95x commented on #4
@TheUtopianPlayz I'll look into this issue, and this plugin does use UUID for storage

[2020-01-22 17:59] Shock95x commented on #4
@TheUtopianPlayz Submit a crash report at https://crash.pmmp.io

[2020-01-22 23:06] TheUtopianPlayz commented on #4
What I meant was if u use UUID storage instead of just the username it would completely avoid issues like this, because the name would have nothing to do with the issue, it would illuminate any errors on the subject and it would be a more reliable storage system

[2020-01-23 03:09] Shock95x commented on #4
@TheUtopianPlayz Submit a crash report because I can't seem to replicate this issue.

[2020-01-23 03:31] TheUtopianPlayz commented on #4
the error isnt important i just included it in case u needed it, im recommending to switch to UUID Instead of username to avoid any name related issues that could happen with plugins like NameSpaceRemover or with xbox live auth

long story short using UUID for storage instead of saving the username, would allow alot more people to use this plugin

[2020-01-23 04:54] Shock95x commented on #4
@TheUtopianPlayz Does the error break the server or stop the plugin from functioning? If so then it's important and also the plugin stores both UUID's and usernames, the usernames are only used to display the names of people with their listings and for messages.

[2020-01-23 05:01] Shock95x commented on #4
@TheUtopianPlayz If you submit a crash report I might be able to fix this because I'm not able to reproduce that error

[2020-01-23 06:37] TheUtopianPlayz opened #5 "bug"
[Server thread/CRITICAL]: Error: "Call to a member function isOnline() on null" (EXCEPTION) in "plugins/AuctionHouse_dev-7 (2).phar/src/shock95x/auctionhouse/menu/MenuHandler" at line 229
[01:34:35] [Server thread/DEBUG]: #0 plugins/AuctionHouse_dev-7 (2).phar/src/shock95x/auctionhouse/libs/muqsit/invmenu/InvMenuHandler(68): shock95x\auctionhouse\menu\MenuHandler->handlePurchase(object pocketmine\

[2020-01-23 06:40] TheUtopianPlayz commented on #4
issue number 5 is a completely differ error i went ahead and got rid of NameSpaceremover cuz it causes problems with multiple other plugins on my server, i didnt submit a crash report for this error because it says its a invalid error on the site

[2020-01-23 15:35] #4 closed

[2020-01-23 23:52] TheUtopianPlayz commented on #5
One of my pocket edition players found this^^

[2020-01-24 02:57] Shock95x commented on #5
Try the latest Poggit release, the issue should be fixed

[2020-01-24 07:01] Johnsonk79 opened #6 "Crash Bug"
The server is running the latest version of Pocketmine.
whenever a player do /ah it crashes the player

--------

[06:58:16] [Server thread/DEBUG]: #0 plugins/AuctionHouse_dev-8.phar/src/shock95x/auctionhouse/AuctionHouse(143): pocketmine\utils\Utils::errorExceptionHandler(integer 8, string[22] Undefined index: en-us, string[96] phar:///home/gs-40519/plugins/AuctionHouse_dev-8.phar/src/shock95x/au

[2020-01-24 11:09] TheUtopianPlayz opened #7 "dev build #8 error"
**[06:05:47] [Server thread/CRITICAL]: ErrorException: "Undefined index: en-us" (EXCEPTION) in "plugins/AuctionHouse_dev-8.phar/src/shock95x/auctionhouse/AuctionHouse" at line 143
[06:05:47] [Server thread/DEBUG]: #0 plugins/AuctionHouse_dev-8.phar/src/shock95x/auctionhouse/AuctionHouse(143): pocketmine\utils\Utils::errorExceptionHandler(integer 8, string[22] Undefined index: en-us, string[100] ph

[2020-01-24 15:08] Shock95x commented on #7
@TheUtopianPlayz Does it happen to everyone or just specific users? Try deleting the language folder and restart the server

[2020-01-24 21:37] SuperAdam47 commented on #7
i tryed no working

[2020-01-24 22:11] Shock95x commented on #6
@Johnsonk79 Submit a crash report at [crash.pmmp.io](https://crash.pmmp.io)

[2020-01-25 16:49] Shock95x commented on #7
@TheUtopianPlayz @SuperAdam47 Please submit a crash report at [crash.pmmp.io](https://crash.pmmp.io).

[2020-01-26 03:45] yxkev opened #9 "Update Notify"
[03:39:39] [Server thread/CRITICAL]: Error: "Class 'JackMD\UpdateNotifier\UpdateNotifier' not found" (EXCEPTION) in "plugins/AuctionHouse-master/src/shock95x/auctionhouse/AuctionHouse" at line 43
[03:39:39] [Server thread/DEBUG]: #0 src/pocketmine/plugin/PluginManager(196): shock95x\auctionhouse\AuctionHouse->onLoad()
[03:39:39] [Server thread/DEBUG]: #1 src/pocketmine/plugin/PluginManager(352): p

[2020-01-26 16:29] mikeygio10 opened #10 "bug"
[16:28:07] [Server thread/CRITICAL]: Error: "Call to a member function isOnline() on null" (EXCEPTION) in "plugins/AuctionHouse_dev-7.phar/src/shock95x/auctionhouse/menu/MenuHandler" at line 229
[16:28:07] [Server thread/DEBUG]: #0 plugins/AuctionHouse_dev-7.phar/src/shock95x/auctionhouse/libs/muqsit/invmenu/InvMenuHandler(68): shock95x\auctionhouse\menu\MenuHandler->handlePurchase(object JackMD\N

[2020-01-26 18:10] Shock95x commented on #10
Download the latest version (dev #8)

[2020-01-26 18:28] Shock95x commented on #9
Don't run the plugin from source, download the plugin from [PoggitCI](https://poggit.pmmp.io/ci/Shock95x/AuctionHouse/AuctionHouse/).

[2020-01-26 18:28] #9 closed

[2020-01-27 20:47] Shock95x commented on #7
@TheUtopianPlayz @SuperAdam47 Are you still getting this error?

[2020-01-28 05:20] TheUtopianPlayz commented on #7
Yes, I haven't had time to get a crash report

[2020-01-28 14:34] TetroYT opened #11 "Bug in most recent build #8"
![27F08C3F-BE0E-47D1-B631-4E60AFFAEBC5](https://user-images.githubusercontent.com/49662383/73272997-315c5780-41db-11ea-9f95-d8623f9d3847.png)

do any of the older builds work that i could use while this is being fixed?

[2020-01-30 22:16] TheUtopianPlayz commented on #7
its a internal server error so it just kicks the player, dosnt give me a crash report, heres the error

***2020-01-30 [17:06:09] [Server thread/CRITICAL]: ErrorException: "Undefined index: en-us" (EXCEPTION) in "plugins/AuctionHouse_dev-8 (2).phar/src/shock95x/auctionhouse/AuctionHouse" at line 143
2020-01-30 [17:06:09] [Server thread/DEBUG]: #0 plugins/AuctionHouse_dev-8 (2).phar/src/shock95x/auc

[2020-01-30 22:17] TheUtopianPlayz commented on #11
i get the same error when 1 of my players run the command
it works for most players but not for some
for me its just been players with spaces in there names

[2020-01-30 23:27] TheUtopianPlayz opened #12 "new bug with dev build 8"
[18:24:09] [Server thread/CRITICAL]: RuntimeException: "Tag with name "marketId" not found and no valid default value given" (EXCEPTION) in "vendor/pocketmine/nbt/src/tag/CompoundTag" at line 189
[18:24:09] [Server thread/DEBUG]: #0 vendor/pocketmine/nbt/src/tag/CompoundTag(240): pocketmine\nbt\tag\CompoundTag->getTagValue(string[8] marketId, string[26] pocketmine\nbt\tag\LongTag, NULL , boolean )

[2020-02-02 03:12] Shock95x commented on #11
@TheUtopianPlayz @TetroYT  The error seems to be caused by players with a different language set other than English, I'm currently working on a fix.

[2020-02-02 03:33] TheUtopianPlayz commented on #11
Just so u know ur English ymls are all different
The one the plugin generates is: en_US
The one listed as default in the config is: en-US
And the 1 in the errors that the plugin is calling for is:en-us

[2020-02-02 03:45] #10 closed

[2020-02-02 03:45] #5 closed

[2020-02-02 03:59] #6 closed

[2020-02-02 03:59] #7 closed

[2020-02-02 03:59] #12 closed

[2020-02-02 03:59] #11 closed

[2020-02-02 07:41] jsnfjsfjbwiea opened #13 "error"
[07:33:37] [Server thread/CRITICAL]: Error: "Class 'JackMD\UpdateNotifier\UpdateNotifier' not found" (EXCEPTION) in "plugins/AuctionHouse-master/src/shock95x/auctionhouse/AuctionHouse" at line 44
[07:33:37] [Server thread/DEBUG]: #0 src/pocketmine/plugin/PluginManager(196): shock95x\auctionhouse\AuctionHouse->onLoad()
[07:33:37] [Server thread/DEBUG]: #1 src/pocketmine/plugin/PluginManager(352): p

[2020-02-02 07:51] #13 closed

[2020-02-02 08:14] jsnfjsfjbwiea opened #14 "Menu not opening all the time"
Happens in most recent dev, (dev 13). When you open /ah and then go to the Collect Expired / Cancelled Items, it doesnt open the other double chest inventory when you click it/move it to your inventory. Same as the diamond, it happens to it too.

The menu probably only works one time, then stops working until next server restart.

This also happens if move an item from your inventory into the /ah

[2020-02-02 08:21] TetroYT opened #15 "thanks"
Thanks for the recent update fix it works now, you should try and get this into the releases part of poggit its the best public auction house plugin ive ever seen and would get so many 5 star reviews.

![ED9B7354-B3B2-4BEB-9654-B865E6166748](https://user-images.githubusercontent.com/49662383/73605344-0ab06f00-4595-11ea-89e0-00365fa9fd7c.png)

[2020-02-02 16:12] Shock95x commented on #14
@jsnfjsfjbwiea Does the console show any error when the menus don't open?

[2020-02-02 16:29] #14 closed

[2020-02-02 16:33] Shock95x commented on #15
I'll release it on Poggit once there are no more errors, thanks.

[2020-02-02 16:33] #15 closed

[2020-02-03 02:09] TheUtopianPlayz opened #17 "issue with build 15"
after reboot u dont have the option to remove items u posted on the ah anymore, there still up and u still get the money but u cant remove them if u want to

[2020-02-03 02:27] jsnfjsfjbwiea opened #18 "Message not sending"
when you take an item off the /ah listing, i assume its supposed to send the "returned-item:" or the "cancelled-item:" message but it does not.

[2020-02-03 02:42] Shock95x commented on #17
Do the items show up in the listings and expired menu? You should be able to return your items by dragging them into your inventory from the expired menu

[2020-02-03 02:45] TheUtopianPlayz commented on #17
U can't remove them from listings because they don't show up

[2020-02-03 03:08] Shock95x commented on #17
Do they show in the main auction menu?

[2020-02-03 03:24] TheUtopianPlayz commented on #17
yes but after reboot they dont show up in "/ah listings"

[2020-02-20 15:42] Shock95x commented on #17
Have you noticed any errors in the console?

[2020-02-24 03:54] Shock95x commented on #17
@TheUtopianPlayz I'm not able to replicate this issue and no one else seems to have it, if there are any errors in the console make sure to include them

[2020-03-05 04:44] #17 closed

[2020-03-05 05:03] #18 closed

[2020-03-05 20:39] TheUtopianPlayz opened #19 "error when confirming perchase of item"
i think two of my players tried to buy the same item at once

[15:33:51] [Server thread/CRITICAL]: TypeError: "Return value of shock95x\auctionhouse\database\DataHolder::getListingById() must be an instance of shock95x\auctionhouse\auction\Listing, null returned" (EXCEPTION) in "plugins/AuctionHouse_dev-16.phar/src/shock95x/auctionhouse/database/DataHolder" at line 61
[15:33:51] [Server thread/DEB

[2020-03-07 16:53] #19 closed

[2020-03-10 01:17] BobbyTowers opened #20 "Max and Minimum"
Can you a Max and Minimum price?

[2020-03-11 21:54] TetroYT opened #21 "question"
this is a great plugin i would recommend this to anyone looking for a perfect auction house plugin, but im wondering do you make plugins for people that ask? or only plugins that you want to make

[2020-03-12 02:26] Shock95x commented on #21
I will sometimes do plugin commissions if someone needs a specific plugin, but usually its plugins that I want to make that will end up being public.

[2020-03-12 02:26] #21 closed

[2020-03-12 07:16] TetroYT opened #22 "Question"
do you have some where i can contact you about adding something to a plugin?

[2020-03-13 01:45] Shock95x commented on #22
My discord is Shock95#7212

[2020-03-13 01:45] #22 closed

[2020-03-14 00:40] xorbs opened #23 "error"
ErrorException: "A non well formed numeric value encountered" (EXCEPTION) in "plugins/AuctionHouse-f62b928cde9974ee1a4cca44a80ed3abaa66303a/src/shock95x/auctionhouse/database/Database" at line 87

[2020-03-14 17:09] Shock95x commented on #23
Is that the whole error log?

[2020-03-16 05:24] Shock95x commented on #23
@xorbs Please post the whole error log.

[2020-03-16 11:29] xorbs commented on #23
@Shock95x ok wait

[2020-03-16 14:11] xorbs commented on #23
[Server thread/CRITICAL]: ErrorException: "A non well formed numeric value encountered" (EXCEPTION) in "plugins/AuctionHouse-f62b928cde9974ee1a4cca44a80ed3abaa66303a/src/shock95x/auctionhouse/database/Database" at line 87
[22:15:42] [Server thread/DEBUG]: #0 plugins/AuctionHouse-f62b928cde9974ee1a4cca44a80ed3abaa66303a/src/shock95x/auctionhouse/database/Database(87): pocketmine\utils\Utils::errorE

[2020-03-25 17:22] No4NaMe opened #24 "add russian language"
Please my add russian language
https://github.com/No4NaMe/AuctionHouse/blob/master/resources/language/ru_RU.yml

[2020-03-25 22:21] No4NaMe opened #25 "kick player write command ah"
in-game write command /ah and kick

2020-03-25 [22:17:29] [Server thread/ERROR]: [InvMenu] Failed to send inventory due to disabled plugin AuctionHouse
2020-03-25 [22:17:29] [Server thread/CRITICAL]: InvalidStateException: "Tried to schedule task to disabled scheduler" (EXCEPTION) in "src/pocketmine/scheduler/TaskScheduler" at line 125
2020-03-25 [22:17:29] [Server thread/DEBUG]: #0 src/pocketmine

[2020-03-26 17:42] Shock95x commented on #25
It says that AuctionHouse was disabled, were there any errors before this one?

[2020-03-29 17:08] No4NaMe opened #26 "player Internal server error reload server"
when the server reload, the auction plugin crashes and kicks the player

2020-03-29 [17:05:11] [Server thread/ERROR]: [InvMenu] Failed to send inventory due to disabled plugin AuctionHouse
2020-03-29 [17:05:11] [Server thread/CRITICAL]: InvalidStateException: "Tried to schedule task to disabled scheduler" (EXCEPTION) in "src/pocketmine/scheduler/TaskScheduler" at line 125
2020-03-29 [17:05:11] [Se

[2020-03-29 17:09] No4NaMe commented on #25
https://github.com/Shock95x/AuctionHouse/issues/26

[2020-03-29 18:42] Shock95x commented on #26
@No4NaMe Were there any errors before this one?

[2020-03-29 19:46] No4NaMe commented on #26
No, Errors occur after server reboot, if the server is turned off and on, the plugin works fine...

[2020-04-05 15:59] ipad54 opened #27 "Dupe bug"
if you put a funnel and go up 5 blocks, the funnel will take all the things from the auction

[2020-04-09 18:28] ipad54 opened #28 "Error"
If you reboot the server, then sometimes the plugin may throw an error. If you reboot again, then everything is fine

Error: Fatal error: Uncaught TypeError: SQlite3::__construct() expects parametr 1 to be a valid path, null given in
/srv/data/plugins/AuctionHouse/src/shock95x/auctionhouse/libs/poggit/libasynql/sqlite/SQlite3Thread on line 68

[2020-04-09 19:13] Fiuxs opened #29 "Eror"
[21:28:02] [Server thread/CRITICAL]: Error: "Call to a member function save() on null" (EXCEPTION) in "plugins/AuctionHouse.phar/src/shock95x/auctionhouse/AuctionHouse" at line 93

[2020-04-09 20:06] #29 closed

[2020-05-08 02:39] youngjmc opened #30 "Discord"
Do you have a discord?

[2020-05-08 16:14] Shock95x commented on #30
Shock95#7212 is my discord.

[2020-05-08 16:14] #30 closed

[2020-05-19 03:50] xKurt21 opened #31 "request"
Hi,

Can you tell me the permissions? Because I'm setting permissions in our kitpvp, because they can sell the free kits

-xKurt21

[2020-06-01 17:07] CtrlAltTr0ll opened #32 "Sudden Loading Error"
plugin was working perfectly, then all of a sudden has stopped loading and throws this error:

01.06 17:02:24 [Server] Server thread/CRITICAL TypeError: "fclose() expects parameter 1 to be resource, null given" (EXCEPTION) in "plugins/AuctionHouse (1).phar/src/shock95x/auctionhouse/libs/poggit/libasynql/generic/GenericStatementFileParser" at line 88
01.06 17:02:24 [Server] Server thread/DEBUG #0 p

[2020-06-02 03:05] ElectroGamesYT commented on #32
Same

[2020-06-02 12:26] xKurt21 commented on #32
same

[2020-06-05 00:28] KareemDoesMc opened #33 "It's not loading in anymore"
05.06 00:26:17 [Server] Server thread/CRITICAL TypeError: "fclose() expects parameter 1 to be resource, null given" (EXCEPTION) in "plugins/1587002690262_AuctionHouse (1).phar/src/shock95x/auctionhouse/libs/poggit/libasynql/generic/GenericStatementFileParser" at line 88
05.06 00:26:17 [Server] Server thread/DEBUG #0 plugins/1587002690262_AuctionHouse (1).phar/src/shock95x/auctionhouse/libs/poggit/

[2020-06-09 23:03] RustlingBrick86 opened #34 "Help"
I think u need to update it to the new version cause it shows a huge error in console now

[2020-06-13 12:40] Shipyde opened #35 "Bug by starting from the Server"
[Server thread/CRITICAL]: TypeError: "fclose() expects parameter 1 to be resource, null given" (EXCEPTION) in "plugins/AuctionHouse.phar/src/shock95x/auctionhouse/libs/poggit/libasynql/generic/GenericStatementFileParser" at line 88
[Server thread/DEBUG]: #0 plugins/AuctionHouse.phar/src/shock95x/auctionhouse/libs/poggit/libasynql/generic/GenericStatementFileParser(88): fclose(NULL )
[Server thread

[2020-06-14 16:35] Shock95x commented on #32
Provide your config file

[2020-06-14 19:51] Shock95x commented on #35
Fixed in latest release

[2020-06-14 19:51] #35 closed

[2020-06-14 19:52] Shock95x commented on #34
Try the latest version

[2020-06-14 19:52] Shock95x commented on #33
Fixed in v1.1.0.

[2020-06-14 19:52] #33 closed

[2020-06-14 19:53] Shock95x commented on #32
Fixed in v1.1.0.

[2020-06-14 19:53] #32 closed

[2020-06-14 19:53] Shock95x commented on #28
Are you using the /reload command?

[2020-06-14 19:59] Shock95x commented on #26
Using /reload is not recommended to restart the server, it's been removed in API 4.0 apparently.

[2020-06-14 19:59] #26 closed

[2020-06-14 19:59] #20 closed

[2020-06-14 20:00] Shock95x commented on #24
added

[2020-06-14 20:00] #24 closed

[2020-06-14 20:01] Shock95x commented on #27
Could be an InvMenu problem, try with the latest release

[2020-06-14 20:02] #25 closed

[2020-06-14 20:25] KareemDoezMc commented on #33
Is it released on poggit?

[2020-06-14 20:26] Shock95x commented on #33
It's been submitted but you can download it from the releases tab right now

[2020-06-14 20:26] KareemDoezMc commented on #33
Ok thank you

[2020-06-14 23:11] Shock95x commented on #31
You should be able to see the permissions in the plugin.yml file.

[2020-06-14 23:11] #31 closed

[2020-06-15 00:29] ZenZenXDz opened #36 "Crash"
When I buy something at the AH the whole server crash.

[2020-06-15 00:36] Shock95x commented on #36
Provide the crash dump here

[2020-06-15 00:52] Shock95x commented on #36
@ZenZenXDz I wasn't able to reproduce this, are you using v1.1.0?

[2020-06-15 18:10] ipad54 commented on #28
@Shock95x No

[2020-06-15 18:22] Shock95x commented on #28
@ipad54 Try the latest release (v1.1.0)

[2020-06-19 21:05] Shock95x commented on #28
@ipad54 Are you still getting this error on v1.1.0?

[2020-06-19 21:15] Shock95x commented on #34
@RustlingBrick86 Paste the error log and plugin version.

[2020-06-19 21:17] Shock95x commented on #23
@xorbs Are you still getting this error on v1.1.0?

[2020-06-21 12:27] ipad54 commented on #28
@Shock95x Yes, I get this error if I use sqlite database

[2020-06-22 02:31] Shock95x commented on #34
@RustlingBrick86 Is this happening on the latest version?

[2020-06-22 15:59] Shock95x commented on #28
@ipad54 Is that the full error log?

[2020-06-22 21:46] Shock95x commented on #34
Messaged him on Discord, told him to update the plugin and now it's fine.

[2020-06-22 21:46] #34 closed

[2020-06-28 16:38] brokiem opened #38 "Update To PM 3.14"
No Crashdump, it closed forced my minecraft

[2020-06-28 22:18] Shock95x commented on #38
@brokiem The plugin seems to work fine on 3.14, does it show any error in the console?

[2020-06-29 04:54] brokiem commented on #38
No Crashdump, no error in console, no player quit in console, but like this https://youtu.be/XzP-DWT3_XM

[2020-06-29 06:02] Shock95x commented on #38
It seems to be related with this [issue](https://github.com/pmmp/PocketMine-MP/issues/3651). It's caused by ContainerClosePacket and is apparently a client bug introduced with 1.16

[2020-06-30 03:28] xKurt21 opened #39 "Crashed"
Hi,

I am using the latest version of this plugin. The command is working, the Menu is working, but when you will buy the item, you will crash.

Thanks

[2020-06-30 04:29] Shock95x commented on #39
Duplicate of issue #38

[2020-06-30 04:29] #39 closed

[2020-06-30 21:34] Nagol12344 opened #40 "the software closed because an error occurred"
### Issue description
when I try to buy something I immediately get kicked out in console it said I left because of timeout no other messages show

### Steps to reproduce the issue
1. open Minecraft on your Nintendo switch
2. open a featured server to get to the server list
3. go on to your server
4. type in the command /ah
5.buy an item
6. get greeted with the message the software closed because

[2020-06-30 23:05] Shock95x commented on #40
Duplicate of issue #38

[2020-06-30 23:05] #40 closed

[2020-07-01 21:00] Nagol12344 commented on #36
it's confirmed

[2020-07-01 21:04] Shock95x commented on #36
@Nagol12344 This isn't related to #38 if that's what you're talking about

[2020-07-02 09:31] JustJamezX opened #41 "Reload Issue"
### Issue/Suggestion
So, every time I reload my server, /ah won't work. But if I restart my server, it'll work again. I've tried doing "/ah update" but it wont work. I'm on Pocketmine version 3.14.0 and using AuctionHouse version 1.1.1.

If you're wondering, I reload my server in order to get TopVoter to work.

[2020-07-02 17:17] Nagol12344 commented on #36
it is

[2020-07-02 17:29] Shock95x commented on #36
Nope, if it was then only the client would crash. He said that the whole server crashed.

[2020-07-02 22:03] Shock95x commented on #41
Using /reload is not recommended, it’s supposedly being removed from PocketMine in the future.

[2020-07-02 22:03] #41 closed

[2020-07-06 23:35] Muqsit commented on #38
I pushed some preparatory fixes to InvMenu (^3.1.1) that i've verified with InvCrashFix plugin until PMMP fixes it.

[2020-07-14 05:12] rjworks opened #42 "(Sqlite) Why is it that you create a new record for each item from the same player?"
Why is it that you create a new record for each item from the same player? Why not have one record for one player  and have an items column where all items on auction by the same player is stored?

[2020-07-14 23:33] Shock95x commented on #42
It's something that I thought about before but I just went with how it is right now since it's more convenient and manageable. For one I wouldn't have to serialize and unserialize every listing including the item NBT which would be inefficient and would likely result in more time to save and load listings. SQL can also handle millions of records so I don't really see it as an issue.

[2020-07-16 19:49] #42 closed

[2020-07-21 04:41] rjworks opened #43 "Lores"
Lores are not shown in ah lists why not?

[2020-07-21 17:01] Shock95x commented on #43
I'll add this as an option in a future release, item enchants should show though.

[2020-07-21 18:50] rjworks commented on #43
Custom enchants don't

[2020-07-23 03:25] rjworks commented on #43
is the lore stored in nbt? maybe I can make pull req

[2020-07-23 16:38] rjworks opened #44 "Items not going back to inventory after removing from AH"
### Issue description
Write the issue description here

### Steps to reproduce the issue
1. ... put an item with custom enchant to ah
2. ... remove it from ah
3. doesn't give u back the item

### OS and versions
* PocketMine-MP:3.14.2
* Plugin version: 1.1.1
* Server OS: ubuntu
### Error/Crash log (If available)

[code]

[2020-07-23 17:02] Shock95x commented on #44
Is this an issue only with custom enchants?

[2020-07-23 17:21] rjworks commented on #44
seems like it

[2020-07-23 17:23] Shock95x commented on #44
are you using any specific plugin for custom enchants?

[2020-07-23 17:28] rjworks commented on #44
i’m using my own

[2020-07-23 18:22] Shock95x commented on #44
I tested this with PiggyCustomEnchants on Windows and Ubuntu and everything seemed to work fine, it could be a problem with your plugin but i'm not sure.

[2020-07-25 19:37] Shock95x commented on #43
Added in v1.2.0 (Currently a pre-release build)
https://github.com/Shock95x/AuctionHouse/releases/tag/1.2.0

[2020-07-25 19:40] rjworks commented on #43
Legendary bro. Much love

[2020-07-25 19:40] #43 closed

[2020-07-27 00:46] Shock95x commented on #27
Hoppers aren't implemented in PocketMine and this is unlikely a plugin issue.

[2020-07-27 00:46] #27 closed

[2020-07-29 23:40] rjworks opened #47 "high pct tick"
[code]

[2020-08-08 17:43] ipad54 opened #48 "Error"
### Issue description
Write the issue description here
Error on loading server
### Steps to reproduce the issue
1. Enable server

### OS and versions
* PocketMine-MP: 3.14.2
* Plugin version: 1.1.1
* Server OS: Ubuntu

### Error/Crash log (If available)

[code]

[2020-08-08 17:46] Shock95x commented on #48
@ipad54 The plugin seems to be running from source which isn't recommended

[2020-08-08 17:48] #48 closed

[2020-08-08 17:50] Shock95x commented on #48
@ipad54 Were you also running the plugin from source on issue #28?

[2020-08-08 17:55] ipad54 commented on #48
@Shock95x Yes, but when I even ran it in phar, the error remained

[2020-08-08 17:57] Shock95x commented on #48
@ipad54 Did you download the .phar from Poggit or did you make it yourself?

[2020-08-08 18:01] ipad54 commented on #48
@Shock95x,
Now I downloaded from poggit and everything started, that time too, but there was an error, now I do not observe it

[2020-08-08 18:13] Shock95x commented on #28
_Originally posted by @ipad54 in https://github.com/Shock95x/AuctionHouse/issues/48#issuecomment-670956710_

[2020-08-08 18:13] #28 closed

[2020-08-13 05:24] rjworks commented on #47
the interval for this task is currently 5 mins. will anything break if i change it to 50 mins?

[2020-08-13 16:47] Shock95x commented on #47
If you're confident that the server won't crash anytime then sure, but I already made optimizations and might push them soon

[2020-08-13 18:13] rjworks commented on #47
im not confident

can u make push that

[2020-08-14 00:12] Shock95x commented on #47
I'm waiting for recursive inventories get fixed in InvMenu, until then I could use a delayed task to send menus as a workaround but it might not work all the time so I'm not sure.

[2020-08-17 19:14] Shock95x commented on #47
I currently have a workaround that seems to work, if it doesn't break and everything else works fine I'll push it today

[2020-08-18 01:39] rjworks commented on #47
does it break

[2020-08-18 01:40] Shock95x commented on #47
Everything seems to be fine, I pushed a release an hour ago

[2020-08-18 01:42] rjworks commented on #47
should i use that
i current have it the task every 55mins

[2020-08-18 01:44] Shock95x commented on #47
I made optimizations in other areas besides the task so yeah

[2020-08-18 02:55] rjworks commented on #47
oh ok will it no longer be 200+% pct tick then

[2020-08-18 03:17] Shock95x commented on #47
The timings seemed to be good when I tested it, you can try it and check the results just to make sure

[2020-08-18 04:50] rjworks commented on #47
why when i download 1.2 branch i get something else
something else not what i see in the 1.2 page.

[2020-08-18 05:04] rjworks commented on #47
there is also no commando in virions:.

[2020-08-18 12:36] Shock95x commented on #47
Are you downloading from the releases tab?

[2020-08-18 12:45] rjworks commented on #47
ok that fixed it thanks a lot good job keep it up

[2020-08-18 12:45] #47 closed

[2020-08-19 20:31] Shock95x commented on #44
Are you having the same problem on 1.2.0?

[2020-08-20 04:21] rjworks commented on #47
the pct tick improved a lot what did u do?

[2020-08-20 04:28] Shock95x commented on #47
thanks, you can look at the description and changes here: https://github.com/Shock95x/AuctionHouse/commit/ae18be6df964b0769fcf1c20a2d3f3ed580c1fb1

I pretty much went over the plugin and checked everything I was able to optimize

[2020-08-22 06:44] rjworks opened #51 "internal server error"
### Issue description
Write the issue description here
internal server error https://mcpaste.io/1582df78eb91f097
### Steps to reproduce the issue
``Was buying something from auction house, clicked on the item to start the purchase, it didn’t go through and just exited the ah panel. I do /ah again to try making the purchase and I got internal server error``

### OS and versions
* PocketMine-MP:3.15

[2020-08-24 00:02] rjworks opened #52 "crash"
2020-08-23 [20:00:28] [Server thread/CRITICAL]: ErrorException: "Undefined index: ?&CB?7??<?:#?$p" (EXCEPTION) in "plugins/AuctionHouse_v1.2.0-PRERELEASE.phar/src/shock95x/auctionhouse/libs/muqsit/invmenu/session/PlayerManager" at line 45
2020-08-23 [20:00:28] [Server thread/CRITICAL]: #0 plugins/AuctionHouse_v1.2.0-PRERELEASE.phar/src/shock95x/auctionhouse/libs/muqsit/invmenu/session/PlayerManag

[2020-08-24 00:06] Shock95x commented on #52
Check the comment on #51

[2020-08-24 00:07] rjworks commented on #51
When i download the src it gives me the old task which was laggy

[2020-08-24 00:09] Shock95x commented on #51
You might've downloaded it from the master branch before I merged it, download it again if it still doesn't work download the phar and extract it here: https://pmt.nathfreder.dev/extract

[2020-08-24 03:19] Shock95x commented on #51
This seems to happen when you close the purchase confirm menu right away and open the AH menu again

[2020-08-24 04:48] Shock95x commented on #51
Should be fixed in latest release

[2020-08-24 04:48] #51 closed

[2020-08-24 15:36] Shock95x commented on #52
Might be fixed with c99892757ae5d43ca90380d5dd53d62fa4705521

[2020-08-26 23:54] rjworks commented on #47
`- DB is now updated when a listing is created or expired`
is this not resource extensive?

[2020-08-26 23:55] rjworks commented on #47
if not, i think i want to do that for my plugin too to save stats when the player leaves instead of all player at once every other time.

[2020-08-27 01:41] Shock95x commented on #47
Not necessarily since I don't think listings would be created that often and the DB lib is async too, it would actually be better in case of a fatal server crash

[2020-08-27 02:18] rjworks commented on #47
everything in libasynql is async right including update

[2020-08-27 02:25] Shock95x commented on #47
yes

[2020-08-27 19:08] Shock95x commented on #36
Closing due to no additional information

[2020-08-27 19:08] #36 closed

[2020-08-30 08:42] thinh2118 opened #53 "crash"
Error: Call to a member function getCurrentMenu() on null
File: plugins/AuctionHouse_v1.2.1.phar/src/shock95x/auctionhouse/menu/AHMenu
Line: 39
Type: Error

THIS CRASH WAS CAUSED BY A PLUGIN
BAD PLUGIN: AuctionHouse v1.2.1

Code:
[30] 	protected $inventory;
[31]
[32] 	public function __construct(Player $player, bool $returnMain = false, bool $pagination = false) {
[33] 		$type = InvMenuHandler::ge

[2020-08-30 14:48] rjworks commented on #52
nope still happens

[2020-08-30 14:50] rjworks commented on #52
https://hastebin.com/ojicisomag.coffeescript

[2020-08-30 20:20] Shock95x commented on #52
Looks like you're running an older version

[2020-08-30 20:21] Shock95x commented on #53
Should be fixed in [1.2.2](https://github.com/Shock95x/AuctionHouse/releases/tag/1.2.2)

[2020-08-31 01:15] rjworks commented on #52
can i just download the latest one on github

[2020-08-31 02:07] Shock95x commented on #52
you can download the src or phar at the releases tab

[2020-09-03 02:23] rjworks commented on #47
do you think it would be a bad idea to save stats ;ike kills and deaths to SQLite every time the player leaves?

[2020-09-06 06:45] spiderant9 opened #54 "Update"Class 'JackMD\UpdateNotifier\UpdateNotifier' not found""
installed the new version and it seems to be missing update notifier

06.09 06:37:12 [Server] Server thread/INFO Loading AuctionHouse v1.2.2
06.09 06:37:12 [Server] Server thread/CRITICAL Error: "Class 'JackMD\UpdateNotifier\UpdateNotifier' not found" (EXCEPTION) in "plugins/AuctionHouse-master/src/shock95x/auctionhouse/AuctionHouse" at line 28
06.09 06:37:12 [Server] Server thread/CRITICAL #0 src

[2020-09-06 18:36] Shock95x commented on #54
If you're running the plugin from source make sure you have the virions installed

[2020-09-06 18:36] #54 closed

[2020-09-09 14:04] Jimminou opened #55 "Internal Error when a player tap to buy an item sold by another player."
### Issue description
I think that your plugin is all good but one and only thing to report is when a player tap to buy an item sold by another player, it's crashing and closing the app. Same if the own player want to buy is own item (yes for the test i does this and it's the same). In fact, buying item is crashing.

### Steps to reproduce the issue
1. Player1 sell an item
2. Player2 try to tap to

[2020-09-09 14:18] Shock95x commented on #55
I can't do much without a crash log.

[2020-09-09 14:21] Shock95x commented on #55
Also make sure you have the InvCrashFix installed

[2020-09-09 14:25] Jimminou commented on #55
There are no logs, that's the problem. It's says only "player has left the game" but I never tryied why InvCrashFix effectivly, i'm gonna try it right now, i 'm back quickly

[2020-09-09 14:30] Jimminou commented on #55
Ok... Thank you my friend, that's working. Maybe that was wrotten on your description but I never seen that I have to get InvCrashFix plugin, maybe write it as bold ;) thanks again

[2020-09-09 14:30] #55 closed

[2020-09-09 14:34] Shock95x commented on #55
Yeah no problem, I put a warning in the plugin if it doesn't detect InvCrashFix but I'll try to make it more clear next time!

[2020-09-17 04:28] deadbushmc opened #56 "Crash"
It says Internal server error whenever i run the command
/ah
* PocketMine-MP: Latest
* Plugin version: latest
* Server OS: Ubuntu Petrodactyl

### Error/Crash log (If available)

[code]

that's the latest version
![Screenshot_2020-09-17-09-56-55-828_com android chrome](https://user-images.githubusercontent.com/66917109/93420349-54ec2380-f8cc-11ea-814d-95dc33ede8b8.jpg)

[2020-09-17 15:40] Shock95x commented on #56
Would you know any way to reproduce this issue?

[2020-09-19 06:12] ganeshbista209 commented on #56
Nope
just add it in the server restart the server do /ah
crash

[2020-09-20 18:43] rjworks opened #57 "/ah about internal error"
[14:42:55] [Server thread/CRITICAL]: Error: "Call to undefined method shock95x\auctionhouse\commands\subcommand\AboutCommand::getPlugin()" (EXCEPTION) in "plugins/AuctionHouse_v1.2.2.phar/src/shock95x/auctionhouse/commands/subcommand/AboutCommand" at line 14
[14:42:55] [Server thread/CRITICAL]: #0 plugins/AuctionHouse_v1.2.2.phar/src/shock95x/auctionhouse/libs/CortexPE/Commando/BaseCommand(143): s

[2020-09-20 20:20] Shock95x commented on #57
did you make any modifications to the plugin?

[2020-09-20 20:29] Shock95x commented on #57
if you did make sure all the virions are injected

[2020-09-20 20:42] rjworks commented on #57
yes i did to make it work with my economy

[2020-09-20 20:42] #57 closed

[2020-09-22 10:59] linksblue opened #58 "Game crashes"
Hi all,
I have only tried this once and it is crashing my game every time I go onto /ah [Etherything] please can someone fix this!

[2020-09-22 14:10] Shock95x commented on #58
I can't do much without information like the PocketMine version, plugin version, OS, and error logs, please follow the issue template and until then this issue will be closed.

[2020-09-22 14:10] #58 closed

[2020-09-27 00:53] Shock95x commented on #56
An update has been released that should fix this issue, let me know if it still occurs

[2020-09-28 12:35] djmaisen opened #59 "German lang file is outdated"
### Issue description
Write the issue description here
/ah = internal server error

### Steps to reproduce the issue
1. ...
2. ...

### OS and versions
* PocketMine-MP: Altay
* Plugin version: 1.2.4
* Server OS: Minehub

### Error/Crash log (If available)

[code]

[2020-09-28 12:41] Shock95x commented on #59
The German language file is outdated, feel free to update it if you want to

[2020-09-28 13:04] djmaisen commented on #59
I don't know how i do that 😅

[2020-09-28 13:07] Shock95x commented on #59
Here is the default (en_US) language file for reference: https://github.com/Shock95x/AuctionHouse/blob/master/resources/language/en_US.yml

[2020-10-01 19:49] Arata-Tempest opened #60 "InvCrashfix bug"
I am using version 1.2.4 and it does not work and in my server logs it says it needs InvCrashfix but I can not use this plugin because I use Aternos website and it only supports piggt plugins and invcrashfix is not from poggit Can you please solve this problem?...
![Screenshot_2020-09-29-01-07-35-1](https://user-images.githubusercontent.com/71513892/94856218-8290ab00-043c-11eb-99e3-fbeda6c706d9.pn

[2020-10-01 23:46] Shock95x commented on #60
Unfortunately I can't do anything about that, you might want to contact the server provider and ask them to add it instead

[2020-10-01 23:46] #60 closed

[2020-10-04 15:11] #59 closed

[2020-10-05 15:22] Arata-Tempest opened #62 "Why?"
Why does Auctionhouse need InvCrashFix? Can't you do something you don't need?
![Screenshot_2020-10-05-18-50-38-1](https://user-images.githubusercontent.com/71513892/95098671-d8ff3180-073b-11eb-81cd-c0ec436159aa.png)

Every time I try to buy an item from Auction House, it crashes!!!

[2020-10-05 15:25] Arata-Tempest commented on #62
The server provider cannot override InvCrashfix and says it is not a security plugin!

[2020-10-05 15:45] Shock95x commented on #62
If the server provider won't add it there's nothing I can do about it, sorry

[2020-10-05 15:45] #62 closed

[2020-10-12 00:23] Lightningrod6 opened #63 "SQL Question"
More of a question

How can I change the sql from MariaDB to InnoDB

[2020-10-12 00:38] Shock95x commented on #63
This might help you https://dev.mysql.com/doc/refman/8.0/en/converting-tables-to-innodb.html

[2020-10-12 00:38] #63 closed

[2020-10-12 00:39] Lightningrod6 commented on #63
Thanks

[2020-10-12 21:07] willtom6666 opened #64 "bjr I have the same problem with version 1.16.50 please recorrected your bug really because the other bugs too"
### Issue description
Write the issue description here

### Steps to reproduce the issue
1. ...
2. ...

### OS and versions
* PocketMine-MP:
* Plugin version:
* Server OS:

### Error/Crash log (If available)

[code]

[2020-10-12 21:08] willtom6666 commented on #53
bjr I have the same problem with version 1.16.50 please recorrected your bug really because the other bugs too

[2020-10-12 21:19] Shock95x commented on #53
@willtom6666 What version of the plugin are you using

[2020-10-12 21:52] #64 closed

[2020-10-15 12:19] Arata-Tempest opened #65 "Buy Item"
### Issue description
Write the issue description here

### Steps to reproduce the issue
1. ... {{I throw myself out of the game when I want to buy an item}}
2. ...

### OS and versions
* PocketMine-MP: 3.15.2
* Plugin version: 1.2.5
* Server OS:

### Error/Crash log (If available)

[code]

[2020-10-15 13:37] djmaisen commented on #65
I have the same problem

[2020-10-15 13:40] Shock95x commented on #65
Make sure you have InvCrashFix installed.

[2020-10-15 16:50] #65 closed

[2020-10-18 20:40] willtom6666 opened #66 "bjr I have a problem I would like to change the language to french but its bugged the plugin if you could help me it would make me happy"
### Issue description
Write the issue description here

### Steps to reproduce the issue
1. ...
2. ...

### OS and versions
* PocketMine-MP:
* Plugin version:
* Server OS:

### Error/Crash log (If available)

[code]

[2020-10-18 23:22] Shock95x commented on #66
@willtom6666 French isn't a supported language at the moment, you can make a copy of the en_US file and translate it yourself if you would like to

[2020-10-19 20:33] #66 closed

[2020-10-22 19:01] willtom6666 opened #67 "but its done crash my server when I create a new one and its not located on language"
### Issue description
Write the issue description here

### Steps to reproduce the issue
1. ...
2. ...

### OS and versions
* PocketMine-MP:
* Plugin version:
* Server OS:

### Error/Crash log (If available)

[code]

[2020-10-22 19:05] willtom6666 commented on #67
plz put this language because I already tested and we did not succeed

[2020-10-23 03:50] Shock95x commented on #67
@willtom6666 Message me on Discord: Shock95#7212

[2020-10-25 03:29] #67 closed

[2020-12-14 04:11] BLAST1718 opened #69 "dude"
interested in making a server with me?

[2020-12-14 04:58] #69 closed

[2020-12-14 12:39] Adam1609 opened #70 "Auctioning an item with custom name and no enchant will transfer into normal item"
### Issue description
When executing /ah sell while holding an item with custom name, the item showing the auction menu will be turning into normal, while an item like armor, weapon with enchant seems to be normal

### Steps to reproduce the issue
1. Execute /ah sell while holding item with custom name, no enchants
2. Open /ah
3. /ah will show item with no custom name

### OS and versions
* Pocket

[2020-12-14 14:06] Shock95x commented on #70
Unable to produce, if you could send screenshots or a video that would be helpful

[2021-01-06 18:00] austv opened #71 "Saving data issue"
### Issue description
Server crashing frequently. In the logs is possible to see the auction house problem with the storage method (sqlite).

### Steps to reproduce the issue
1. Someone auction a item in /ah.

### OS and versions
* Tuinity 1.15.2
* AH 2.1.12.

### Error/Crash log (If available)
https://pastebin.com/raw/MfXXGbeZ

[2021-01-06 18:34] Shock95x commented on #71
I think you have the wrong repository, this plugin is only for PocketMine-MP (Minecraft Bedrock)

[2021-01-06 18:34] #71 closed

[2021-01-06 19:30] austv commented on #71
Sorry about that.

[2021-02-08 02:15] Shock95x commented on #70
Closing due to no response.

[2021-02-08 02:15] #70 closed

[2021-02-08 02:16] #56 closed

[2021-02-08 02:22] #53 closed

[2021-04-30 12:44] Joshiiiii opened #73 "Inventory gets closed by plugin - can't open any inventories after that"
### Issue description
Write the issue description here

### Steps to reproduce the issue
1. Open the Auctionhouse Form
2. Select an item that's for sale
3. Your inventory gets closed by the server, which is why the client can't open any inventory anymore.

YouTube Link: https://youtu.be/pey1bqr2mOo?t=36

### OS and versions
* PocketMine-MP: Latest
* Plugin version: Latest
* Server OS: Ubuntu 20.04

[2021-05-06 12:41] Shock95x commented on #73
What version of the plugin are you using?

[2021-05-06 12:43] Joshiiiii commented on #73
I guess 1.3. The latest from poggit.

[2021-05-06 15:47] Shock95x commented on #73
Make sure that you have [InvCrashFix](https://github.com/Muqsit/InvCrashFix) installed, it should fix this issue.

[2021-06-13 11:22] vLilly opened #74 "Internal Server Error when buying items with lore"
11:11:34] [Server thread/WARNING]: Key 'purchase-item' could not be found in the 'de_DE' language file, add this key to the language file or update the file by deleting it and restarting the server.
[11:11:34] [Server thread/CRITICAL]: ErrorException: "Illegal string offset 'lore'" (EXCEPTION) in "plugins/AuctionHouse/src/shock95x/auctionhouse/menu/ConfirmPurchaseMenu" at line 39
[11:11:34] [Serve

[2021-07-06 16:54] Willtom999 opened #77 "Myssql"
Possible update synchro the plugin auctionhouse plz :/

[2021-07-14 11:31] MidWolfhunter opened #79 "Internal Server Error"
### Issue description
After joining my server it kicks me out saying "Internal Server Error"

### Steps to reproduce the issue
1. I updated my Pmmp to the latest version
2. I added a backup as I had complications to my server
3. I reinstailled the installation for Pocketmine to restore everything.
4. after joining, I got an internal server error with the following message in console:

5. `[11:26:0

[2021-07-22 18:02] Joshiiiii opened #80 "New release version"
Can you make a new release version of the AuctionHouse Plugin with the current fixes?

[2021-07-25 21:26] RustlingBrick86 opened #81 "Internal Server Error"
### Issue description
Write the issue description here

### Steps to reproduce the issue
1. Add the currrent version to a 1.17.10 server
2. Join and it kicks you instantly

### OS and versions
* PocketMine-MP:
* Plugin version:
* Server OS:

### Error/Crash log (If available)

[code]

[2021-08-11 12:30] minijaham opened #83 "Selling same item with different enchantments"
### Issue description
If you run /ah sell [price] with an item in a later slot while having two items of the same type(regardless of the enchant), it will remove the item located in the earlier inventory slot, but listing the same item as the item in hand.

### Steps to reproduce the issue
1. https://www.youtube.com/watch?v=COL_LIw2tgM

### OS and versions
* PocketMine-MP: 3.22.1
* Plugin version:

[2021-08-11 12:32] minijaham commented on #83
I have not tested with things like lores and custom name.
That could be an issue as well.

[2021-08-11 12:44] minijaham commented on #83
You also might want to take a look at this:
https://github.com/pmmp/PocketMine-MP/issues/4233

Issue in PocketMine itself regarding the same issue here. Apparently it's working as intended!

[2021-08-26 14:20] MrNinja008 opened #85 "Suggestion!"
**Write feature/suggestion here**
A clear and concise description of what you want to happen.
 Webhoke support like when a there is a item for auction it will send a msg to the webhoke like
ItemName:
Seller:
Price:

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-09-03 14:34] 3lou4ik commented on #79
Same

[2021-09-07 16:25] Joshiiiii opened #88 "New poggit release"
It would be awesome if you could make a new poggit release or make automatic dev builds for poggit, so that we can easily get the phar files.
Thanks!

[2021-09-23 10:22] #83 closed

[2021-10-01 17:02] Joshiiiii opened #89 "Changes for PHP 8.0"
### Issue description
In PHP 8.0 there was a parameter change in str_replace. So just one line to edit.

### Steps to reproduce the issue
1. Use PHP 8.0 Binary

### OS and versions
* PocketMine-MP: Newest
* Plugin version: 1.3.2
* Server OS:
### Error/Crash log (If available)
![Screenshot_20210929-201644](https://user-images.githubusercontent.com/49375131/135659112-84188fc9-407d-4ea0-8625-04d526dd

[2021-10-03 03:21] Moto-Sniper opened #90 "Auction House disables at startup."
### Issue description
Write the issue description here

### Steps to reproduce the issue
1. ...Installed auctionhouse v1.30 to Pocketmine-mp server
2. ...Started server

### OS and versions
* PocketMine-MP:3.23.1
* Plugin version:  1.30
* Server OS: I don't know

### Error/Crash log (If available)

[code]

[2021-10-12 19:14] Willtom999 opened #93 "error php8"
19:12:06] [Server thread/CRITICAL]: Error: "Class "JackMD\UpdateNotifier\UpdateNotifier" not found" (EXCEPTION) in "plugins/AuctionHouse/src/shock95x/auctionhouse/AuctionHouse" at line 33
[19:12:06] [Server thread/CRITICAL]: #0 pmsrc/src/pocketmine/plugin/PluginManager(182): shock95x\auctionhouse\AuctionHouse->onLoad()
[19:12:06] [Server thread/CRITICAL]: #1 pmsrc/src/pocketmine/plugin/PluginManag

[2021-10-14 22:09] DPG896 opened #94 "Error when the server starts"
### Issue description
Write the issue description here

### Steps to reproduce the issue
1. Plug the latest plugin version
2. Start the server

### OS and versions
* PocketMine-MP: 3.23.1
* Plugin version: latest ver.
* Server OS: idk

### Error/Crash log (If available)

![Screenshot_20211015-060534.png](https://user-images.githubusercontent.com/82310008/137402257-850e35d0-921d-438e-a1d4-0e1e27ad4

[2021-10-14 22:20] DPG896 commented on #94
#90

[2021-10-24 23:33] Aliksss opened #96 "UpdateNotifier"
UpdateNotifier not found

[2021-10-27 06:07] #94 closed, assigned to Shock95

[2021-10-27 06:17] #96 closed, assigned to Shock95

[2021-10-27 06:18] #93 closed, assigned to Shock95

[2021-10-28 07:20] rokibot009 opened #97 "Can u help me?"
### Issue description
Write the issue description here

### Steps to reproduce the issue
1. can you help me to handle it?

versions
* PocketMine-MP: 2.25.0
* Plugin version:  1.3.2

I have recorded the bug
-https://drive.google.com/file/d/1Vpt3zdfdxa5BLPCUZSN__ZnddoLg6H10/view?usp=drivesdk

[2021-10-28 20:50] #97 closed, assigned to Shock95

[2021-10-31 16:12] Phqzing opened #98 "Error on latest version"
### Issue description
Write the issue description here

### Steps to reproduce the issue
1. Download the latest version
2. Add it to your plugins folder
3. Start the server

### OS and versions
* PocketMine-MP: 3.25.1
* Plugin version: 1.3.2
* Server OS: Windows 10

### Error/Crash log (If available)

[code]

[2021-11-02 22:49] RustlingBrick86 opened #99 "If you need help understanding contact me on discord - ParadoxGamimg#3516"
**Write feature/suggestion here**
A clear and concise description of what you want to happen.
Make it so there can be multiple permissions made for instant auctionhouse.listing.12 or ah.listing.12 etc, Basically would allow server owners to make it so different ranks can ah different amounts of items. For instance the default amount could be 4 items and you could set a permission to a rank that al

[2021-11-11 13:19] rokibot009 opened #100 "Bug."
### Issue description
Write the issue description here

there is a bug. when I want to buy things from my friend

versions:
* PocketMine-MP: 3.25.4
* Plugin version: 1.3.3

Link Video:
-https://drive.google.com/file/d/18tX7iDa9b4b6K0efRpVXOp2PNkwCmdaE/view?usp=drivesdk

[2021-11-23 16:18] Shock95x opened #101 "PM4 support"

[2022-02-18 09:48] GamerMJay opened #102 "BedrockEconomy Support"
Hi, pls add BedrockEconomy Support

[2022-02-25 14:05] ipad54 opened #103 "[PM4] Dupe bug"
### Issue description
Hi, i found a dupe

### Steps to reproduce the issue
1. On video

### OS and versions
* PocketMine-MP: 4.2.0
* Plugin version: 2.0.0-BETA 1 (https://github.com/Shock95x/AuctionHouse/commit/d6feda81dc7325ad06f18e490ce5f1f5d9599990)
* Server OS: Win

### Error/Crash log (If available)
https://www.youtube.com/watch?v=nwieQNKzY2k

[2022-02-26 11:00] vkamz597 opened #104 "Request for additional language."
I will translate the en_us file and attach it here. The language is [Korean](https://drive.google.com/file/d/1SgpErqazwMlrQ3mvaMaOwUU6oAt8VSFH/view?usp=sharing) and I want you to add it to the plugin. :)

[2022-03-17 18:36] Shock95x commented on #81
This doesn't seem to be an issue anymore, closing

[2022-03-17 18:36] #81 closed

[2022-03-18 01:01] Shock95x commented on #103
Fixed

[2022-03-18 01:01] #103 closed

[2022-03-18 01:05] Shock95x commented on #102
BedrockEconomy support has been added as of 6ccd1981b99ef45474d2931435b8f5239d1d22e6

[2022-03-18 01:05] #102 closed

[2022-03-18 17:49] #77 closed

[2022-03-18 17:52] Shock95x commented on #104
Hello, feel free to open a pull request if you want to contribute and add an additional language

[2022-03-18 17:52] #104 closed

[2022-03-23 19:23] DerGamer543HD001 opened #105 "Issue BedrockEconomyAPI"
### Error
When I add BedrockEconomyAPI to my server, this error appears.

### Error/Crash log
[code]

[2022-03-24 15:53] PSYCHO678 opened #106 "crash"
1.  Server crashing when buying from ah
[15:58:31.927] [Server thread/CRITICAL]: TypeError: "implode(): Argument #2 ($array) must be of type ?array, string given" (EXCEPTION) in "plugins/AuctionHouse.phar/src/shock95x/auctionhouse/menu/admin/ManageListingMenu" at line 37
And im also not seeing player name and price on ah
![image](https://user-images.githubusercontent.com/84683932/159958747-0ff3107

[2022-03-24 16:18] Shock95x commented on #105
Fixed in 2.0.1

[2022-03-26 07:29] DevTIG3535 commented on #106
(https://user-images.githubusercontent.com/101284125/160229527-9a6a4734-1a42-4b96-aa17-1908c170f3a4.png)

Ich habe einen Artikel gekauft und habe einen schwarzen Bildschirm, aber der Artikel ist nicht

[2022-03-26 09:36] DevTIG3535 opened #108 "CRASH"
I bought an item and have a black screen but the item is not.
![EF10A9FE-EA9F-43AE-A2AF-7B4BBAEC6CA5](https://user-images.githubusercontent.com/101284125/160233701-6d2e3d76-da03-4256-a038-3503b8b552bb.png)

[2022-03-26 14:25] PSYCHO678 commented on #106
thanks

[2022-03-26 22:27] Shock95x commented on #108
Do you have [InvCrashFix](https://poggit.pmmp.io/ci/Muqsit/InvCrashFix) installed? It should fix this issue

[2022-03-26 23:09] #106 closed

[2022-03-27 07:52] DevTIG3535 commented on #108
Now it works. Thank you very much! :)

[2022-03-27 17:24] #108 closed

[2022-04-08 14:43] Shock95x commented on #99
This can be done by using the permission `auctionhouse.limit.#`, this has been in the plugin for a while but hasn't been documented until recently.

[2022-04-08 14:43] #99 closed

[2022-04-08 14:56] Shock95x commented on #100
This shouldn't occur in the latest version if you have InvCrashFix

[2022-04-08 14:56] #100 closed

[2022-04-25 06:22] Wayder228 opened #109 "Error when removing goods from the auction house"
### Issue description
Write the issue description here

### Steps to reproduce the issue
1. When removing goods from the auction, the server crashes!
2.

### OS and versions
* PocketMine-MP:
* Plugin version: Latest + release
* Server OS:

### Error/Crash log (If available)

[code]

[2022-04-28 16:50] Wayder228 opened #110 "when withdrawing from auction error."
### Issue description
Write the issue description here

### Steps to reproduce the issue
1. When withdrawing from aha error.
2. ...

### OS and versions
* PocketMine-MP: 4.2.0
* Plugin version: Release and development
* Server OS:

### Error/Crash log (If available)

[code]

[2022-05-05 04:37] Shock95x commented on #110
Duplicate of #109

[2022-05-05 04:37] #110 closed

[2022-05-06 20:09] Wayder228 commented on #110
I'm sorry, but it just took a long time to answer.

[2022-05-11 17:12] SiahRBLX commented on #110
When buying from AH or removing i get a black screen

[2022-05-12 13:39] SiahRBLX commented on #109
I have... same issue

[2022-05-12 20:03] Wayder228 commented on #109
Are you a developer?

[2022-07-23 12:13] SOF3 opened #111 "Listing price is not actually consumed"
### Issue description
By inspecting the code, `listing-price` is not used anywhere other than checking whether player has enough money.

### OS and versions
* PocketMine-MP: N/A
* Plugin version:  67c3118ba9fcef5bd8137ca1a689178e09ced64a
* Server OS: N/A

[code]

https://github.com/Shock95x/AuctionHouse/blob/67c3118ba9fcef5bd8137ca1a689178e09ced64a/src/shock95x/auctionhouse/commands/subcommand/Sel

[2022-07-29 06:10] OxBrutal opened #113 "This is a bug"
### OS and versions
* PocketMine-MP: 4.6.1
* Plugin version: 2.0.1
* Server OS: new

### BUG
* When players open the /ah command, then they move the rotten potato item To the third from the right They can open admin commands that require permission But they don't have access to use it...

[2022-10-22 20:36] AkuGatau19 opened #114 "Bug Duplication"
### Issue description
/ah When we want to buy an item, we can dupe it by pressing the item we want to buy, then pointing to the emerald block

Video : https://drive.google.com/file/d/1iCBUUhuTYVQbkge3Ml9Be9TI6l6ZlbzG/view?usp=drivesdk

### Steps to reproduce the issue
1.
2.

### OS and versions
* PocketMine-MP: 4.9.0
* Plugin version: 2.0.0
* Server OS: 8.0.22

### Error/Crash log (If available)

[2022-10-23 19:19] VrisQ opened #115 "Dupe"
When unlisting your items and you turn on an external lagswitch program you can dupelicate your items